.b1 {
    background-color: black;
    color: white;
    display: inline;
    float: left;
}

.b2 {
    background-color: #2BA5CC;
    /* float: left; */
}

.b3 {
    background-image: url('bg.jpeg');
    height: 300px;
    background-repeat: no-repeat;
    background-color: red;
    background-size: contain;
}

.b4 {
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.b5{

}

.list li{
    float: right;
    margin-left: 30px;
}